<!DOCTYPE html>
<html lang="en">
 
<head>
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <title>Jody's How-to Guide'</title>
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="stylesheets/bootstrap-3.3.6/docs/examples/navbar-fixed-top/navbar-fixed-top.css" rel="stylesheet">

 
</head>


<body>
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">About</a></li>
                    <!--<li><a href="/chart">Demo</a></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
 
    <div class="container">
 
        <div class="Content">
        <h2>Place holder for hansen-earth-engine</h2><br>
        <p> </p><br>
        <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32">
        <br><br><br><br>
        </div>
        <!-- Site footer -->
        <div class="footer">
            <p></p>
        </div>
 
    </div>
    <!-- /container -->
 
 
</body>
 
</html>
